.pagination {
    margin: 0px 0;
}

.container {
    width: 95%;
}

.table {
    font-size: 10px;
}

.goleft {
    float:left
}

.goright {
    float:right
}

.gocenter {
    text-align: center;
    margin: 0 auto;
}

.tinymargins {
    margin: 3px;
}
