.multiupplys > thead > tr > td.multiupplys, .table > tbody > tr > td.multiupplys, .table > tfoot > tr > td.multiupplys, .table > thead > tr > th.multiupplys, .table > tbody > tr > th.multiupplys, .table > tfoot > tr > th.multiupplys, .table > thead > tr.multiupplys > td, .table > tbody > tr.multiupplys > td, .table > tfoot > tr.multiupplys > td, .table > thead > tr.multiupplys > th, .table > tbody > tr.multiupplys > th, .table > tfoot > tr.multiupplys > th {
    background-color: #FCF8E3;
}

.limit > thead > tr > td.limit, .table > tbody > tr > td.limit, .table > tfoot > tr > td.limit, .table > thead > tr > th.limit, .table > tbody > tr > th.limit, .table > tfoot > tr > th.limit, .table > thead > tr.limit > td, .table > tbody > tr.limit > td, .table > tfoot > tr.limit > td, .table > thead > tr.limit > th, .table > tbody > tr.limit > th, .table > tfoot > tr.limit > th {
    background-color: #b2d3e8;
}

.fraud > thead > tr > td.fraud, .table > tbody > tr > td.fraud, .table > tfoot > tr > td.fraud, .table > thead > tr > th.fraud, .table > tbody > tr > th.fraud, .table > tfoot > tr > th.fraud, .table > thead > tr.fraud > td, .table > tbody > tr.fraud > td, .table > tfoot > tr.fraud > td, .table > thead > tr.fraud > th, .table > tbody > tr.fraud > th, .table > tfoot > tr.fraud > th {
    background-color: #efa1b5;
}

.fraud > thead > tr > td.ecommerce, .table > tbody > tr > td.ecommerce, .table > tfoot > tr > td.ecommerce, .table > thead > tr > th.ecommerce, .table > tbody > tr > th.ecommerce, .table > tfoot > tr > th.ecommerce, .table > thead > tr.ecommerce > td, .table > tbody > tr.ecommerce > td, .table > tfoot > tr.ecommerce > td, .table > thead > tr.ecommerce > th, .table > tbody > tr.ecommerce > th, .table > tfoot > tr.ecommerce > th {
    background-color: #c199c1;
}

.fraud > .table > tbody > tr > td, .ecommerce > .table > tbody > tr > td, .limit > .table > tbody > tr > td, .multiupplys > .table > tbody > tr > td{
    border-bottom: 10px solid #ffffff;
}

.pagination {
    margin: 0px 0;
}

.container {
    width: 95%;
}

.table {
    font-size: 10px;
}

.goleft {
    float:left
}

.goright {
    float:right
}

.gocenter {
    text-align: center;
    margin: 0 auto;
}
