<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- *** Load configuration -->
    <context:property-placeholder location="file:/etc/resurs/supersearch/web.cfg.properties"/>

    <context:annotation-config/>


    <context:component-scan base-package="com.resurs.supersearch"/>

   <bean id="superSearchRestService" class="com.resurs.supersearch.rest.impl.SearchServiceRest">
    </bean>

    <!--
        <bean id="fraudRestService" class="com.resurs.fraud.rest.service.FraudRestServiceImpl">
        </bean>
    -->
    <!--
        <bean id="log4jConfigurer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
            <property name="targetClass" value="org.springframework.util.Log4jConfigurer"/>
            <property name="targetMethod" value="initLogging"/>
            <property name="arguments" value="${fraud.rest.logconfiguration}"/>
        </bean>-->
</beans>