<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-custom">
                <div class="panel-heading" style="
    padding-left: 5px; font-size: large;">Summary</div>
                <table class="table table-condensed table-warning bg-custom">
                    <tbody data-bind="with: $data.paymentupdate">
                    <tr >

                        <td>PaymentMethod:</td>
                        <td data-bind="text: $data.paymentMethod.type"></td>

                    </tr>
                    <tr>

                        <td >PaymentStatus:</td>
                        <td data-bind="text: $data.paymentStatus"></td>
                    </tr>

                    <tr>

                        <td >AccountNbr:</td>
                        <td data-bind="text: $data.accountNbr"></td>
                    </tr>

                    <tr>

                        <td >ChannelType:</td>
                        <td data-bind="text: $data.channelType"></td>
                    </tr>


                    <tr>

                        <td >ExternalId:</td>
                        <td data-bind="text: $data.externalId"></td>
                    </tr>




                    </tbody>
               <tbody>
                <tr>

                        <td >Created:</td>
                        <td data-bind="text: created"></td>
                    </tr>


                    <tr>

                        <td >Modified:</td>
                        <td data-bind="text: modified"></td>
                    </tr>




                    </tbody>
                </table>

        </div>


    </div>

        <div class="col-lg-6">
            <div class="panel panel-custom">
                <div class="panel-heading" style="
    padding-left: 5px; font-size: large;">Customer Info</div>
                <table class="table table-condensed table-warning bg-custom">
                    <tbody data-bind="with: $data.paymentupdate">
                    <tr >

                        <td>FullName:</td>
                        <td data-bind="if: $data.customer.fullName">
                            <span data-bind="text: $data.customer.fullName"></span>
                        </td>

                    </tr>
                    <tr>

                        <td >DeliveryAddress:</td>
                        <td data-bind="if: $data.customer.deliveryAddress">
                            <span data-bind="text: $data.customer.deliveryAddress.street"></span> <span data-bind="text: $data.customer.deliveryAddress.postalCode"></span> <span data-bind="text: $data.customer.deliveryAddress.city"></span>
                        </td>
                    </tr>

                    <tr>

                        <td >BillingAddress:</td>
                        <td data-bind="if: $data.customer.billingAddress">
                            <span data-bind="text: $data.customer.billingAddress.street"></span> <span data-bind="text: $data.customer.billingAddress.postalCode"></span> <span data-bind="text: $data.customer.billingAddress.city"></span>
                        </td>
                    </tr>









                    </tbody>

                </table>

            </div>


        </div>

    </div>
    <!--<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-custom">
            <div class="panel-heading" style="
padding-left: 5px; font-size: large;">Summary</div>
            <table class="table table-condensed table-warning bg-custom" id="paytab">
                <tbody>


                </tbody>
            </table>

        </div>


    </div>


    </div>-->
<div class="row">
    <div class="col-lg-12">
<div class="panel panel-custom" data-bind="visible:authorizedPaymentdiffs().length">
    <div class="panel-heading" style="
padding-left: 5px; font-size: medium;">AuthorizedPaymentDiffs</div>
    <table class="table table-condensed table-warning bg-custom">
        <thead>
        <tr>
            <th>Item Description</th>
            <th>ArticleNo</th>
            <th>Quantity</th>
            <th>UnitAmountIncludingVat</th>
            <th>VatRate</th>
            <th>TotalAmount</th>

        </tr>
        </thead>
        <tbody data-bind="foreach: authorizedPaymentdiffs">
        <tr>
            <td data-bind="text: description"></td>
            <td data-bind="text: articleNo"></td>
            <td data-bind="text: quantity.quantity + quantity.unit"> </td>
            <td data-bind="text: unitAmountIncludingVat"></td>
            <td data-bind="text: vatRate"></td>
            <td data-bind="text: totalAmount">%</td>

        </tr>
        </tbody>
    </table>
</div>
    </div>
</div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-custom" data-bind="visible:debitedPaymentDiffs().length">
                <div class="panel-heading" style="
padding-left: 5px; font-size: medium;">AuthorizedPaymentDiffs</div>
                <table class="table table-condensed table-warning bg-custom">
                    <thead>
                    <tr>
                        <th>Item Description</th>
                        <th>ArticleNo</th>
                        <th>Quantity</th>
                        <th>UnitAmountIncludingVat</th>
                        <th>VatRate</th>
                        <th>TotalAmount</th>

                    </tr>
                    </thead>
                    <tbody data-bind="foreach: debitedPaymentDiffs">
                    <tr>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: articleNo"></td>
                        <td data-bind="text: quantity.quantity + quantity.unit"> </td>
                        <td data-bind="text: unitAmountIncludingVat"></td>
                        <td data-bind="text: vatRate"></td>
                        <td data-bind="text: totalAmount">%</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-custom" data-bind="visible:annulledPaymentDiffs().length">
                <div class="panel-heading" style="
padding-left: 5px; font-size: medium;">AuthorizedPaymentDiffs</div>
                <table class="table table-condensed table-warning bg-custom">
                    <thead>
                    <tr>
                        <th>Item Description</th>
                        <th>ArticleNo</th>
                        <th>Quantity</th>
                        <th>UnitAmountIncludingVat</th>
                        <th>VatRate</th>
                        <th>TotalAmount</th>

                    </tr>
                    </thead>
                    <tbody data-bind="foreach: annulledPaymentDiffs">
                    <tr>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: articleNo"></td>
                        <td data-bind="text: quantity.quantity + quantity.unit"> </td>
                        <td data-bind="text: unitAmountIncludingVat"></td>
                        <td data-bind="text: vatRate"></td>
                        <td data-bind="text: totalAmount">%</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-custom" data-bind="visible:creditedPaymentDiffs().length">
                <div class="panel-heading" style="
padding-left: 5px; font-size: medium;">AuthorizedPaymentDiffs</div>
                <table class="table table-condensed table-warning bg-custom">
                    <thead>
                    <tr>
                        <th>Item Description</th>
                        <th>ArticleNo</th>
                        <th>Quantity</th>
                        <th>UnitAmountIncludingVat</th>
                        <th>VatRate</th>
                        <th>TotalAmount</th>

                    </tr>
                    </thead>
                    <tbody data-bind="foreach: creditedPaymentDiffs">
                    <tr>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: articleNo"></td>
                        <td data-bind="text: quantity.quantity + quantity.unit"> </td>
                        <td data-bind="text: unitAmountIncludingVat"></td>
                        <td data-bind="text: vatRate"></td>
                        <td data-bind="text: totalAmount">%</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-custom" data-bind="visible:paymentActions().length">
                <div class="panel-heading" style="
padding-left: 5px; font-size: medium;">PaymentActions</div>
                <table class="table table-condensed table-warning bg-custom">
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Created</th>
                        <th>Type</th>


                    </tr>
                    </thead>
                    <tbody data-bind="foreach: paymentActions">
                    <tr>
                        <td data-bind="text: amount"></td>
                        <td data-bind="text: created"></td>
                        <td data-bind="text: type"> </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-custom" data-bind="visible: authorization">
                <div class="panel-heading" style="
padding-left: 5px; font-size: medium;">PaymentActions</div>
                <table class="table table-condensed table-warning bg-custom">
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Created</th>
                        <th>Type</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-bind="text: authorization.amountWithVat"></td>
                        <td data-bind="text: authorization.bankSystemAuthorizationToken"></td>
                        <td data-bind="text: authorization.created"> </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
