<div class="panel panel-success tinymargins">
    <!-- ko component: {
    name: "searchlist-item-header",
    params: {
        caption: "Limit",
        id: row.object.reservationId,
        timestamp: row.object.timestamp,
        }
    } --><!-- /ko -->
    <div class="panel-body bg-success">
        <div class="row text-success">
            <div class="col-lg-2" >
                <span-search params="value: row.object.decision"></span-search><br/>
                <br/>
                <span-search params="value: row.object.customer.governmentId"></span-search><br/>
                <span-search params="value: row.object.customer.countryCode"></span-search>
            </div>
            <div class="col-lg-3" >
                Name:  <span-search params="value: row.object.customer.fullName"></span-search><br/>
                <span-search params="value: row.object.customer.email"></span-search><br/>
                Mobile phone: <span-search params="value: row.object.customer.mobilePhone"></span-search><br/>
                Home phone: <span-search params="value: row.object.customer.homePhone"></span-search><br/>
            </div>
            <div class="col-lg-3" >
                Street: <span-search params="value: row.object.customer.address.streetAddress"></span-search><br/>
                Postal code: <span-search params="value: row.object.customer.address.postalCode"></span-search><br/>
                Postal area: <span-search params="value: row.object.customer.address.postalArea"></span-search><br/>
            </div>
            <div class="col-lg-3">
                Requested amount: <span data-bind="text:row.object.requestedAmount"></span><br/>
                Approved amount: <span data-bind="text:row.object.approvedAmount"></span><br/>
                Credit product: <span-search params="value : row.object.creditProductCode"></span-search><br/>
                Mup ref: <span-search params="value: row.object.mupRefNumber"></span-search><br/>
            </div>
        </div>
    </div>
</div>
