<div class="panel panel-warning">
    <div class="panel-heading gocenter">
        <span class="goleft">Multiupplys</span> <span class="gocenter" data-bind="text: row.object.publicReferenceNumber"></span>
        <span-date class="goright" params='{ raw: row.object.created}'></span-date>
    </div>
    <div class="container-fluid bg-warning">
        <div class="row">
            <div class="col-lg-2" >
                <span-search params="value: row.object.currentState.state"></span-search><br/>
                <br/>
                <span-search params="value:row.object.application.applicant.governmentId.value"></span-search><br/>
                <span-search params="value:row.object.application.countryCode"></span-search>
                <span-search params="value:row.object.application.customerForm"></span-search><br/>
            </div>

            <div class="col-lg-4">
                Ombudskod: <span-search params="value: row.object.creditCaseTags.BANKSYSTEM_REPRESENTATIVE_CODE"/>
            </div>
            <div class="col-lg-3">
                        Belopp sökt: <span data-bind="text:row.object.application.amount"></span><br/>
                        Belopp beviljat: <span data-bind="text:row.object.currentState.amount"></span><br/>
                </div>
            <div class="col-lg-3">
            Ip-address: <span-search params="value: ipAddress()"/>
                </div>

        </div>
        </div>
    </div>
</div>
