<div class="panel panel-success">
    <div class="panel-heading gocenter">
        <span class="goleft">Limit</span> <span class="gocenter" data-bind="text: row.object.reservationId"></span>
        <span-date class="goright" params='{ raw: row.object.timestamp}'></span-date>
    </div>
    <div class="container-fluid bg-success">
        <div class="row">
            <div class="col-lg-2" >
                <span-search params="value: row.object.decision"></span-search><br/>
                <br/>
                <span-search params="value:row.object.application.applicant.governmentId.value"></span-search><br/>
                <span-search params="value:row.object.application.countryCode"></span-search>
                <span-search params="value:row.object.application.customerForm"></span-search><br/>
            </div>
            <div class="col-lg-4" >
                Namn:  <span-search params="value: row.object.customer.fullName"></span-search><br/>
                Epost: <span-search params="value: row.object.customer.email"></span-search><br/>
                Mob tel: <span-search params="value: row.object.customer.mobilePhone"></span-search><br/>
                Hem tel: <span-search params="value: row.object.customer.homePhone"></span-search><br/>
            </div>
            <div class="col-lg-3" >
                Gata: <span-search params="value: row.object.customer.address.streetAddress"></span-search><br/>
                Postnummer: <span-search params="value: row.object.customer.address.postalCode"></span-search><br/>
                Stad: <span-search params="value: row.object.customer.address.postalArea"></span-search><br/>
            </div>
            <div class="col-lg-2">
                Belopp sökt: <span data-bind="text:row.object.requestedAmount"></span><br/>
                Belopp beviljat: <span data-bind="text:row.object.approvedAmount"></span><br/>
                Kreditprod: <span-search params="value : row.object.creditProductCode"></span-search>
                MupReferens: <span-search params="value: row.object.mupRefNumber"></span-search><br/>
            </div>
        </div>
    </div>
</div>
