<div class="panel panel-sm panel-payupdate tinymargins">
    <!-- ko component: {
           name: "searchlist-item-header",
           params: {
           caption: "PaymentAndOrApplicationUpdate",
           id: row.object.id,
           timestamp: row.object.timestamp,
           clickUrl: show

           }
   } --><!-- /ko -->

    <div class="panel-body bg-custom">

        <div class= "row text-custom">

                <div class="col-lg-2" >
                    <span-search params="value:row.object.paymentStatus"></span-search><br/>
                    <br/>
                    <span data-bind="with : row.object.customer">
                    <span-search params="value:$data.governmentId"></span-search><br/>
                    <span-search params="value:$data.countryCode"></span-search>
                        <span-search params="value:$data.customerType"></span-search>

                </span>

                </div>

                <div class="col-lg-4" >

                 <span data-bind="with : row.object.customer">
                    Name: <span-search params="value:$data.fullName"></span-search><br/>
                     E-mail: <span-search params="value:$data.email"></span-search><br/>
                     Phone: <span-search params="value:$data.phoneNbr1"></span-search><br/>
                    Phone: <span-search params="value:$data.phoneNbr2"></span-search><br/>
                     Street: <span-search params="value:$data.billingAddress.street"></span-search>
                      , <span-search params="value:$data.billingAddress.city"></span-search>

                </span>
                    <br/>



                    Total amount:<span data-bind="if:row.object.payment && row.object.payment.totalAmount" >
                        <span data-bind= "text:row.object.payment.totalAmount"></span>

                    </span>



            </div>
            <div class="col-lg-3" >
                Representative: <span-search params="value:row.object.store.representativeName"></span-search><br/>
                Payment method: <span-search params="value:row.object.paymentMethod.type"></span-search><br/>
                Account nbr: <span-search params="value: row.object.accountNbr"></span-search><br/>
                IP: <span-search params="value:row.object.ip"></span-search><br/>
                <div data-bind="if:row.object.application ">
                <div data-bind="if:row.object.application.signed ">
                Signed: <span-search params="value:row.object.application.signed"></span-search>
                </div>
                </div>
                Identified: <span-search params="value:row.object.customer.identified"></span-search>


            </div>

            <div class="col-lg-2" >
                <span data-bind="with : row.object.payment">
                Debited: <span-search params="value:$data.debited"></span-search><br/>
                Credited: <span-search params="value:$data.credited"></span-search><br/>
                Annulled: <span-search params="value:$data.annulled"></span-search><br/>
                Creditable: <span-search params="value:$data.creditable"></span-search><br/>
                Debitable: <span-search params="value:$data.debitable"></span-search><br/>
                </span>
            </div>



        </div>
    </div>

</div>

