<div class="panel panel-danger tinymargins">
    <!-- ko component: {
    name: "searchlist-item-header",
    params: {
        caption: "Fraud",
        id: row.object.id,
        timestamp: row.object.timestamp,
        buttonText: "Open in Fraud",
        buttonUrl: openInFraud,
        buttonStyle: "danger",
        clickUrl: show
        }
    } --><!-- /ko -->

    <div class="panel-body bg-danger">
        <div class="row">
            <div class="col-lg-2">
                <span-search params="value:row.object.recommendation"></span-search><br/>
                <br/>
                <span-search params="value:row.object.controlRequestJson.customer.governmentId"></span-search><br/>
                <span-search params="value:row.object.controlRequestJson.customer.countryCode"></span-search>
                <span-search params="value:row.object.controlRequestJson.customer.customerType"></span-search><br/>

            </div>
            <div class="col-lg-4">
                Name: <span-search params="value:row.object.controlRequestJson.billingAddress.firstName"></span-search>  <span-search params="value:row.object.controlRequestJson.billingAddress.lastName"/></span-search><br/>
                Email: <span-search params="value:row.object.controlRequestJson.emails.email"/></span-search><br/>
                Phone 1: <span-search params="value:row.object.controlRequestJson.phoneNumbers.phone1"/></span-search><br/>
                Phone 2: <span-search params="value:row.object.controlRequestJson.phoneNumbers.phone2"/></span-search><br/>
            </div>
            <div class="col-lg-3">
                IP: <span-search params="value:row.object.controlRequestJson.ipAddress"/></span-search>
            </div>
            <div class="col-lg-3">
                E-commerce ref: <span-search params="value:row.object.controlRequestJson.ids.ECOMMERCE_EXTERNAL_ID"/></span-search><br/>
                Mup ref: <span-search params="value:row.object.controlRequestJson.ids.MUP_ID"/></span-search><br/>
                Limit reservation: <span-search params="value:row.object.controlRequestJson.ids.LIMITBOX_ID"></span-search><br/>
            </div>
        </div>
    </div>
</div>






